li.divider{
	margin: 0;
}

.showsection{
	position: relative;
	width: 1000px;
	height: 500px;
	margin: 70px auto 40px;
	border: solid 1px #eee;
	overflow: hidden;
}

.slide{
	position: absolute;
	top:50%;
	transform:translateY(-50%);
	z-index: 20;
	cursor: pointer;
}
.slide:hover{
	background-color: #ddd;
}
.slide i{
	font-size: 50px;
}
.slideleft{
	left: 10px;
}
.slideright{

	right: 10px;
}

.slidecontainer{
	position: relative;
	height: 100%;
	margin-left: 0px;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
}

.slidecontent{
	position: relative;
	width: 1000px;
	height: 100%;
	display: inline-block;
}

.slidecontent img{
	width: 100%;
	height: 100%;
}

.panellist{
	display: block;
}
.panellist:after{
	content: "";
	display: table;
	clear: both;
}
.panel:nth-child(4n+1){
	clear: left;
}
.panel:nth-child(4n){
	margin-right: 0;
}

.productcard{
	line-height: 60px;
}
.productsection{
	width: 1000px;
	margin: 0 auto;
}
.panelmedia{
	overflow: hidden;
}
.panelmedia img{
	height: 100%;
}

