<!DOCTYPE html>
<html>
<head>
	<title>用户登录</title>
	<meta charset="utf-8">
	<link rel="icon" href="../fonts/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../fonts/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1442835366_2342465.css">
   	<link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
	<div class="navbar navbar-fixed">
		<div class="toolbar">
			<div class="toolbar-widget" id="menu">
				<a href="javascript:" class="btn btn-icon"><i class="iconfont icon-menu"></i></a>
			</div>
			<div class="toolbar-title"><a href="/">BookStore</a></div>
			<div class="toolbar-widget">
				<a href="./regist.html" class="btn btn-default">注册</a>
			</div>
			<div class="toolbar-widget">
				<a href="./login.html" class="btn btn-default">登录</a>
			</div>
		</div>

		<nav class="sidebar" id="sidebar">
			<ul class="sidemenu" id="sidemenu">
				<li><a href="../index.html"><i class="iconfont icon-home"></i>首页</a></li>
				<li><a href=""><i class="iconfont icon-buy"></i>购买</a></li>
				<li><a href="./regist.html"><i class="iconfont icon-reg"></i>注册</a></li>
				<li><a href="./login.html"><i class="iconfont icon-login"></i>登录</a></li>
				<li class="divider"></li>
				<li><a href=""><i class="iconfont icon-help"></i>帮助</a></li>
				<li><a href=""><i class="iconfont icon-contact"></i>联系</a></li>
				<li class="divider"></li>
				<li>Copyright © 2015</li>
			</ul>
		</nav>
	</div>
	<div class="logincontainer">
		<div class="formarea">
			<h1 class="title">已有账号登陆</h1>
			<section class="form" id="logform">
				<form method="post">
					<fieldset>
						<i class="iconfont icon-user formicon"></i>
						<input type="text" placeholder="请输入用户名" class="loginform user" onblur="nameCheck(this)">
					</fieldset>
					<fieldset>
						<i class="iconfont icon-mima formicon"></i>
						<input type="password" placeholder="请输入密码" class="loginform pwd" onblur="pwdCheck(this)">
					</fieldset>
					<fieldset>
						<button class="btn btn-default btn-submit" id="login">登陆</button>
					</fieldset>
				</form>
			</section>
		</div>
	</div>
	<script type="text/javascript" src="https://cn.avoscloud.com/scripts/lib/av-0.5.0.min.js"></script>
	<script type="text/javascript" src="../js/config.js"></script>
	<script type="text/javascript" src="../js/widget.js"></script>
	<script type="text/javascript" src="../js/formcheck.js"></script>
	<script type="text/javascript" src="../js/logcheck.js"></script>
</body>
</html>