<!DOCTYPE html>
<html>
<head>
	<title>个人中心</title>
	<meta charset="utf-8">
	<link rel="icon" href="../fonts/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../fonts/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1442835366_2342465.css">
   	<link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/usercenter.css">
</head>
<body>
	<div class="navbar navbar-fixed">
		<div class="toolbar">
			<div class="toolbar-widget" id="menu">
				<a href="javascript:" class="btn btn-icon"><i class="iconfont icon-menu"></i></a>
			</div>
			<div class="toolbar-title"><a href="/">BookStore</a></div>
			<div class="toolbar-widget">
				<a href="./regist.html" class="btn btn-default">注册</a>
			</div>
			<div class="toolbar-widget">
				<a href="./login.html" class="btn btn-default">登录</a>
			</div>
		</div>

		<nav class="sidebar" id="sidebar">
			<ul class="sidemenu" id="sidemenu">
				<li><a href="../index.html"><i class="iconfont icon-home"></i>首页</a></li>
				<li><a href=""><i class="iconfont icon-buy"></i>购买</a></li>
				<li><a href="./regist.html"><i class="iconfont icon-reg"></i>注册</a></li>
				<li><a href="./login.html"><i class="iconfont icon-login"></i>登录</a></li>
				<li class="divider"></li>
				<li><a href=""><i class="iconfont icon-help"></i>帮助</a></li>
				<li><a href=""><i class="iconfont icon-contact"></i>联系</a></li>
				<li class="divider"></li>
				<li>Copyright © 2015</li>
			</ul>
		</nav>
	</div>
	<div class="managetab">
		<ul>
			<li id="userinfo" class="active"><span>个人资料</span></li>
			<li id="orderinfo"><span>订单信息</span></li>
			<li id="addrinfo"><span>地址信息</span></li>
		</ul>
	</div>
	<div class="infoshow" id="show">
		<h1>地址信息</h1>
		<ul class="addresslist">
			<li class="panel addresspanel" addr="">
				<div class="addresstitle">浙江杭州（陈浩）</div>
				<div class="divider"></div>
				<div class="addressdetail">大叔大叔大叔大叔啊呃大事阿萨德阿萨德</div>
			</li>
			<li class="panel addresspanel" addr="">
				<div class="addresstitle">浙江杭州（陈浩）</div>
				<div class="divider"></div>
				<div class="addressdetail">大叔大叔大叔大叔啊呃大事阿萨德阿萨德</div>
			</li>
			<li class="panel addresspanel" addr="">
				<div class="addresstitle">浙江杭州（陈浩）</div>
				<div class="divider"></div>
				<div class="addressdetail">大叔大叔大叔大叔啊呃大事阿萨德阿萨德</div>
			</li>
			<li class="panel addresspanel" addr="">
				<div class="addresstitle">浙江杭州（陈浩）</div>
				<div class="divider"></div>
				<div class="addressdetail">大叔大叔大叔大叔啊呃大事阿萨德阿萨德</div>
			</li>
			<li class="panel addresspanel" addr="">
				<div class="addresstitle">浙江杭州（陈浩）</div>
				<div class="divider"></div>
				<div class="addressdetail">大叔大叔大叔大叔啊呃大事阿萨德阿萨德</div>
			</li>
		</ul>
		<div id="addrIn">
			<input type="text" id="city" placeholder="请填写城市" class="addr">
			<input type="text" id="village" placeholder="详细地址" class="addr">
			<input type="text" id="recevie" placeholder="填写收件人" class="addr">
			<input type="text" id="number" placeholder="填写电话号码" class="addr">
			<input type="submit" id="addrenroll">
		</div>
		<div class="orderop"><input type="submit" id="orderdelete" value="订单删除" ><input type="submit" id="orderchange" value="订单付款" ><div>	
	</div>
	<script type="text/javascript" src="https://cn.avoscloud.com/scripts/lib/av-0.5.0.min.js"></script>
	<script type="text/javascript" src="../js/config.js"></script>
	<script type="text/javascript" src="../js/widget.js"></script>
	<script type="text/javascript" src="../js/formcheck.js"></script>
	<script type="text/javascript" src="../js/usercenter.js"></script>
</body>
</html>